table{	
    color:black;	
    text-align:right;
    font-size:16;	
}
H1{
        text-align:center;
  }
  button
	    {
                font-size:20;
	        font-style:italic;
                alignment-adjust:right;
     	    }
            a{
              color:black;
              text-decoration-line: no-underline;
            }


